@font-face
{
    font-family:Roboto Light;
    src: url(Roboto-Light.ttf);
}

@font-face
{
    font-family:Roboto Medium;
    src: url(Roboto-Medium.ttf);
}

@font-face
{
    font-family:Roboto Regular;
    src: url(Roboto-Regular.ttf);
}

.linkButton { 
     background: none;
     border: none;
     color: #0066ff;
     cursor: pointer; 
}

a {
    font-size: 18px
}